/***************************************/
/*  SECTION - home  */
/***************************************/

.home {
  margin-top: 8.0rem;
  margin-bottom: 9.6rem;
  padding: 4.8rem 0 8.0rem 0;
  border-bottom: 2px solid #354F52;
}

.container {
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
  /* border: 1px solid white; */
  margin: 8.0rem auto;
}

.main-heading {
  color: white;
  font-size: 5.2rem;
  padding: 0 3.2rem;
  text-transform: uppercase;
  text-align: center;

}

.main-content {
  /* padding: 0 10rem; */
  color: #CAD2C5;
  font-size: 2rem;
  font-style: italic;
  line-height: 1.6;
  text-align: center;
  padding: 0 4.8rem;

}

.home-btns {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 3.2rem;
}

.tournament-btn {
  /* font-size: 2rem; */
  text-decoration: none;
  border: 1px solid #fff;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
}

/***************************************/
/*  SECTION - TOURNAMENTS */
/***************************************/

.tournaments {
  margin-bottom: 9.6rem;
  /* padding-top: 8.0rem; */
  color: #fff;
  /* border: 2px solid #CAD2C5; */
}

.tournament-head {
  padding: 3.2rem;
  margin-bottom: 3.2rem;
}

.primary--head {
  color: white;
  font-size: 3.6rem;
  text-align: center;
}

.sub-text {
  text-align: center;
  color: #CAD2C5;
  margin-top: 1.6rem;
  font-size: 1.6rem;
}

.sub-span {
  color: #e67e22;
  font-size: 600;
}

.tournaments-nav {
  position: relative;
  /* border: 2px solid #CAD2C5; */
  align-items: center;
  padding: 4.2rem 6.4rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}

.cards-link-list {
  flex-basis: 30%;
  list-style: none;
  display: flex;
  gap: 6.4rem;
}

.cards-link {
  text-decoration: none;
  padding: 1rem 0;
  border-bottom: 2px solid #e67e22;
  color: #CAD2C5;
  font-weight: 500;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.cards-link:hover {
  color: #fff;
  padding-bottom: 4px;
  cursor: pointer;
}

.card-filters {
  flex-basis: 50%;
  justify-content: flex-end;
  display: flex;
  gap: 8.0rem;
}

.filter-region,
.filter-format,
.filter-btn {
  width: 30%;
  position: relative;
}

.select {
  box-shadow: 0 2px 16px 0 rgb(0 0 0 / 15%);
  background: #52796F;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.select-clicked {
  box-shadow: 0 2px 16px 0 rgb(0 0 0 / 15%);
}

.select:hover {
  background: #598378;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.5s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  padding: 0.2rem 0.5rem;
  background-color: #85ACA2;
  border: 2px solid #598378;
  border-radius: 0.5rem;
  color: #354F52;
  opacity: 0;
  display: none;
  transition: all 0.5s;
  z-index: 10;
  position: absolute;
  width: 100%;
}

.menu li {
  padding: 0.8rem 0.4rem;
  border-bottom: 2px dashed #719E93;
  margin: 0.4rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
}

.menu li:last-child {
  border: none;
}

.menu li:hover {
  background-color: #719E93;
}

.active-menu {
  background-color: #719E93;
}

.menu-open {
  display: block;
  opacity: 1;
}

.filter-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #52796F;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 16px 0 rgb(0 0 0 / 15%);
}

.toggle-btn {
  transition: all 0.2s;
  color: #CAD2C5;
  font-weight: 500;
  padding: 1rem 3.2rem;
  cursor: pointer;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.toggle-active {
  background-color: #354F52;
}

/*** CARDS ***/

.tournaments-upcoming,
.tournaments-inprogress,
.tournaments-completed,
.tour-banner,
.tour-games {
  padding: 9.6rem 6.4rem;
  border-bottom: 2px solid #354F52;
}

.tournaments-main-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.2rem;
  list-style: none;
  margin-bottom: 4.8rem;
}

.tournament-card {
  /* border: 1px solid #fff; */
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #354F52;
  box-shadow: 0 2px 16px 0 rgb(0 0 0 / 15%);
}

.card-banner {
  position: relative;
}

.tour-daysleft {
  position: absolute;
  padding: 1rem 1.6rem;
  font-weight: 600;
  color: #000;
  top: 1.5rem;
  right: 1.5rem;
  background-color: rgba(255, 255, 255, 0.499);
  backdrop-filter: blur(4px);
}

.img-banner {
  width: 100%;
  height: 100%;
}

.card-details {
  /* border: 1px solid #fff; */
  padding: 1.6rem;
  height: 100%;
}

.card-details p {
  font-size: 1.2rem;
}

.card-head {
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  text-transform: capitalize;
}

.tour-schedule {
  display: flex;
  justify-content: space-between;
  color: #B9C3B2;
  font-size: 1.4rem;
}

.tour-date,
.tour-time,
.tour-region {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.tour-region {
  background-color: #52796F;
  padding: 0.2rem 0.8rem;
  color: #fff;
  border-radius: 0.5rem;
}

.region-flag {
  height: 25px;
  width: 25px;
}

.tour-info-fee,
.tour-info-size,
.tour-info-prize {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.info-content {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.info-text {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

.info-head {
  color: #B9C3B2;
  font-size: 1.2rem;
}

.tour-info {
  display: flex;
  justify-content: space-between;
}

.tour-info i {
  font-size: 1.6rem;
  color: #e67e22;
}

.card-info {
  border-top: 1px solid #52796F;
  padding: 1.6rem;
}

.user-joined {
  font-size: 1.2rem;
  font-weight: 600;
}

.tour-join {
  background-color: #52796F;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.go-join {
  display: flex;
  gap: 1.4rem;
  align-items: center;
}

.btn--join {
  padding: 1rem 1.4rem !important;
  font-size: 1.2rem !important;
}

.join-users {
  display: flex;
}

.user-img {
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 50%;
  margin-right: -1.5rem;
  border: 2px solid #52796f;
}

.user-img:last-child {
  margin: 0;
}

/* ************** */
/* swiper */
/* ************** */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

:root {
  --swiper-theme-color: #fff;
}

.banner-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.banner-text {
  border-radius: 1.5rem 0 0 15rem;
  border: 4px solid #52796F;
  border-right: none;
  padding: 4.6rem 6.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.banner-head {
  margin-bottom: 3.2rem;
}

.banner-para {
  margin-bottom: 6.4rem;
}

.banner {
  height: 100%;
  width: 100%;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.353));
}

.tour-prizes {
  padding: 9.6rem 12.8rem;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  border-bottom: 2px solid #354F52;
}

.tour-rewards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-evenly;
}

.reward-png {
  height: 9.6rem;
  width: 9.6rem;
}

.reward {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
}